version: '3.8'

services:

  mysql:
    image: mysql:8
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cloud_inventory
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  mongo:
    image: mongo:latest
    container_name: mongo_container
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  flask_app:
    build: .
    container_name: flask_container
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mysql
      - mongo

volumes:
  mysql_data:
  mongo_data: